*.o
GPATH
GRTAGS
GSYMS
GTAGS
stm32f3-discovery/Libraries/libstm32f3.a
stm32f3-discovery/jhc_custom/rts/libjhcrts.a
stm32f3-discovery/main.bin
stm32f3-discovery/main.elf
stm32f3-discovery/main.hex
stm32f3-discovery/main.lst
stm32f3-discovery/main.map
stm32f3-discovery/hs_main.c
