*.o
*.a
*~
GPATH
GRTAGS
GSYMS
GTAGS
*/hs_main.c
stm32f3-discovery/main.bin
stm32f3-discovery/main.elf
stm32f3-discovery/main.hex
stm32f3-discovery/main.lst
stm32f3-discovery/main.map
stbee-mini/mini-demo.elf
stbee-mini/mini-demo.hex
stbee-mini/mini-demo.lss
stbee-mini/mini-demo.sym
rts-test/rts-test
